In [1]:
import pandas as pd 
import numpy as np

In [47]:
path = "C:/Users/lenovo/Documents/CS/6Sem/CG/newtrain/"
data = pd.read_csv("C:/Users/lenovo/Documents/CS/6Sem/CG/all_data_info.csv")

In [48]:
data.head()

,artist,date,genre,pixelsx,pixelsy,size_bytes,source,style,title,artist_group,in_train,new_filename
0,Barnett Newman,1955.0,abstract,15530.0,6911.0,9201912.0,wikiart,Color Field Painting,Uriel,train_only,True,102257.jpg
1,Barnett Newman,1950.0,abstract,14559.0,6866.0,8867532.0,wikiart,Color Field Painting,Vir Heroicus Sublimis,train_only,True,75232.jpg
2,kiri nichol,2013.0,NaN,9003.0,9004.0,1756681.0,NaN,Neoplasticism,NaN,test_only,False,32145.jpg
3,kiri nichol,2013.0,NaN,9003.0,9004.0,1942046.0,NaN,Neoplasticism,NaN,test_only,False,20304.jpg
4,kiri nichol,2013.0,NaN,9003.0,9004.0,1526212.0,NaN,Neoplasticism,NaN,test_only,False,836.jpg

In [49]:
data['genre'].notnull().sum()

101996

In [50]:
data_genre = data[data['genre'].notnull()]

In [51]:
df_genre = data_genre.groupby('genre').filter(lambda x: len(x) >= 3000)

In [52]:
df_genre.shape

(78366, 12)

In [53]:
df_genre.genre.value_counts()

portrait              16847
landscape             15006
genre painting        14260
abstract               9498
religious painting     7429
cityscape              5348
sketch and study       3644
illustration           3202
still life             3132
Name: genre, dtype: int64

In [54]:
df_genre = df_genre.groupby('genre', as_index=False).apply(lambda array: array.loc[np.random.choice(array.index, 3100, False),:])

In [55]:
df_genre.shape

(27900, 12)

In [56]:
df_genre.genre.value_counts()

abstract              3100
still life            3100
genre painting        3100
cityscape             3100
illustration          3100
sketch and study      3100
portrait              3100
landscape             3100
religious painting    3100
Name: genre, dtype: int64

In [58]:
data_style = data[data['style'].notnull()]

In [60]:
data_style['style'].value_counts()

Impressionism                   10643
Realism                         10523
Romanticism                      9285
Expressionism                    7013
Post-Impressionism               5778
Art Nouveau (Modern)             4899
Baroque                          4400
Surrealism                       4167
Symbolism                        3476
Rococo                           2733
Northern Renaissance             2379
Na√Øve Art (Primitivism)          2295
Abstract Expressionism           2074
Neoclassicism                    2038
Cubism                           1747
Ukiyo-e                          1426
Early Renaissance                1351
Mannerism (Late Renaissance)     1342
High Renaissance                 1314
Art Informel                     1267
Magic Realism                    1002
Abstract Art                      979
Academicism                       972
Color Field Painting              910
Pop Art                           791
Fauvism                           731
Lyrical Abstraction               670
Art Deco                          644
Concretism                        581
Neo-Romanticism                   566
                                ...
Neo-Figurative Art                 27
Indian Space painting              25
New European Painting              25
Street art                         23
Cubo-Expressionism                 22
New Casualism                      22
Tubism                             21
Native Art                         21
Costumbrismo                       19
Figurative Expressionism           19
Feminist Art                       18
Neo-Byzantine                      18
Timurid Period                     17
Existential Art                    17
Yamato-e                           12
Gothic                             12
Light and Space                    11
Mail Art                           10
Cartographic Art                   10
Joseon Dynasty                     10
Synchromism                        10
Nas-Taliq                           9
Miserablism                         8
Perceptism                          6
Rayonism                            6
Spectralism                         5
Kinetic Art                         3
Ilkhanid                            2
Environmental (Land) Art            1
Renaissance                         1
Name: style, Length: 136, dtype: int64

In [67]:
df_style = data_style.groupby('style').filter(lambda x: len(x) >= 3000)

In [68]:
df_style.shape

(60184, 12)

In [69]:
df_style['style'].value_counts()

Impressionism           10643
Realism                 10523
Romanticism              9285
Expressionism            7013
Post-Impressionism       5778
Art Nouveau (Modern)     4899
Baroque                  4400
Surrealism               4167
Symbolism                3476
Name: style, dtype: int64

In [70]:
df_style = df_style.groupby('style', as_index=False).apply(lambda array: array.loc[np.random.choice(array.index, 3400, False),:])

In [71]:
df_style.shape

(30600, 12)

In [72]:
df_style['style'].value_counts()

Post-Impressionism      3400
Art Nouveau (Modern)    3400
Symbolism               3400
Impressionism           3400
Baroque                 3400
Realism                 3400
Romanticism             3400
Surrealism              3400
Expressionism           3400
Name: style, dtype: int64

In [166]:
data_time = data[data['date'].notnull()]

In [167]:
data_time.shape

(76887, 12)

In [168]:
mask = (data_time['date'].str.len() == 4)

In [169]:
df_time = data_time.loc[mask]

In [170]:
df_time.shape

(43198, 12)

In [171]:
df_time = df_time.groupby('date').filter(lambda x: len(x) >= 2)

In [172]:
df_time['date'] = df_time['date'].astype('int')

In [173]:
print(df_time['date'].min(),df_time['date'].max())

1181 2011

In [199]:
df_time1 = df_time[df_time['date']>=1875]
df_time1 = df_time[df_time['date']<2000]

In [200]:
dlist = []
for i in range(1875,2001,25):
    dlist.append(i)

In [201]:
df_time1['period'] = pd.cut(df_time['date'],bins = dlist, labels = dlist[:-1])

C:\Users\lenovo\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [202]:
df_time1.period.value_counts()

1900    9806
1875    8799
1925    5122
1950    4059
1975    1725
Name: period, dtype: int64